<p id="notice"><%= notice %></p>

<%= link_to 'Add New Report', new_all_report_path, class: "btn btn-outline-primary m-4" %>

<head>
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }

  tr:hover{background-color:#AED6F1}
  </style>
</head>

<h2 class="display-8 p-0"  style="color:#161D3E" >List of Reports</h2>

<table class="table table-striped"> 
  <thead class="thead-inverse">
    <tr>
      <th style="background-color:#005a8c" "font-size:40px">Name</th>
      <th style="background-color:#005a8c">Report Period</th>
      <th style="background-color:#005a8c">File</th>
      <th style="background-color:#005a8c">Link</th>
      <th style="background-color:#005a8c">Approval</th>
      <th style="background-color:#005a8c">Comments</th>
      <th style="background-color:#005a8c" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.yrmnth %></td>
        <td><%= file(report.azure) %></td>
        <td><%= link(report.link) %></td>
        <td><%= report.approval %></td>
        <td><%= report.comment %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_all_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


